/* image grid styles */
.img-grid
  display: grid
  grid-gap: 2rem
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr))
  margin: 1rem 0

  .img-wrap
    border-radius: .25rem
    height: 0
    overflow: hidden
    opacity: 1
    padding: 50% 0
    /* padding controls height, will always be perfectly square regardless of width */
    position: relative

  .img-wrap img
    left: 0
    max-width: 150%
    min-height: 100%
    min-width: 100%
    position: absolute
    top: 0

  .img-wrap:hover
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)
